<div id="about-me-div" class="separator-div separator-left fms-bg" >
    <div id="about-me-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 section-title-wrapper">
            <h1 class="section-title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700"><i class="fas fa-question"></i>&nbsp;&nbsp;About me</h1>
            <div data-aos="flip-left" id="bio-main-img" class="img-responsive"
            style="background-image: url(img/NewtonFellow.jpg);"></div>
            <figcaption class="figure-caption">
              That's me!
            </figcaption>
          </div>
          <div class="col-sm-8" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <p class="section-desc"> I am Andrea Idini, an Associate Senior Lecturer at Lund University, in the division of mathematical physics. My research interests mainly concern nuclear structure and reactions, with a particular emphasis on the limits of many-body approaches.
                <br> However, I have the tendency of biting more than I can chew, as you can see from the
                <a href="#projects-div" data-toggle="tooltip" data-placement="left" title="" data-original-title="Projects"> summary <i class="fas fa-flask"></i></a>
                and
                <a href="{{ .Site.BaseURL }}projects" data-toggle="tooltip" data-placement="right" title="" data-original-title="Projects List"> list <i class="fas fa-flask"></i></a>
                of projects. Among these, I collaborate with Scape technologies working on computer vision and 3D reconstruction. <br>
              To know more about my past,
              <a href="https://scholar.google.it/citations?user=Q_HADcQAAAAJ&hl=en"> have a look at my papers </a>, or at <a href="/cv.pdf"> my cv</a>.
            </p>
            </div>
          </div>
        </div>
      </div>
</div>
