<div id="contact-id" class="separator-div separator-div-last separator-right sky-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 section-title-wrapper">
                <h1 class="section-title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700">
                    <i class="fas fa-envelope"></i>&nbsp;&nbsp;Get in touch!</h1>
            </div>
            
            <div class="col-sm-8" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="900">
                <div class="contact-element d-flex justify-content-center">
                    <div class="circle"><i class="fas fa-envelope"></i></div>
                    <div class="contact-text">andrea.idini@matfys.lth.se</div>
                </div>
                <div>+46 7777777 </div>
                <div>Office: B46 </div>
                <div>Matfys division </div>
                <div>Physics </div>
<!---                <div class="contact-element d-flex justify-content-center">
                    <div class="circle"><i class="fas fa-envelope"></i></div>
                    <div class="contact-text">MyBeautifulMail@MyDomain.Awesome!</div>
                </div>
                <div class="contact-element d-flex justify-content-center">
                    <div class="circle"><i class="fas fa-envelope"></i></div>
                    <div class="contact-text">MyBeautifulMail@MyDomain.Awesome!</div>
                </div>
                <div class="contact-element d-flex justify-content-center">
                    <div class="circle"><i class="fas fa-envelope"></i></div>
                    <div class="contact-text">MyBeautifulMail@MyDomain.Awesome!</div> -->
                </div>
            </div>
        </div>
    </div>
</div>
