<div id="home-div" class="site-wrapper" style="background-image: url({{ .Site.BaseURL }}assets/img/tmp-cover-placeholder.jpg);">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <main role="main" class="inner tcover">
          <h1 class="cover-heading" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700">Andrea Idini</h1>
          <div class="container">
          <p class="lead" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700">
              Associate Senior Lecturer Lund University </br> website under construction
	   </p>
          </div>
        </main>
      </div>
    </div>
  </div>
