<div id="home-div" class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <main role="main" class="inner tcover">
          <h1 class="cover-heading" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700">Andrea Idini</h1>
          <div class="container">
          <p class="lead" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700">
              Labore aliquip mollit incididunt id est velit. 
              Aute non dolore esse dolor ut duis qui minim incididunt veniam cillumea laboris ut.</p>
          </div>
        </main>
      </div>
    </div>
  </div>