<ul id="navs" data-open="close" data-close="open">
    <li>
      <a href="#home-div" data-toggle="tooltip" data-placement="right" title="" data-original-title="Home"><i class="fas fa-home"></i></a>
    </li>
    <li>
      <a href="#about-me-div" data-toggle="tooltip" data-placement="right" title="" data-original-title="About me"><i class="fas fa-question"></i></a>
    </li>
    <li>
      <a href="#thesis-div" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Thesis"><i class="fas fa-graduation-cap"></i></a>
    </li>
    <li>
      <a href="#teaching-div" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Teaching"><i class="fab fa-react"></i></a>
    </li>
    <li>
      <a href="#projects-div" data-toggle="tooltip" data-placement="left" title="" data-original-title="Projects"><i class="fas fa-flask"></i></a>
    </li>
    <li>
      <a href="#contact-id" data-toggle="tooltip" data-placement="left" title="" data-original-title="Contact me"><i class="fas fa-envelope"></i></a>
    </li>
  </ul>

