<div id="projects-div" class="separator-div separator-right cherry-bg">
    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <p class="section-desc" data-aos="fade-up" data-aos-anchor-placement="right-left">
                  My main research focus in nuclear physics are the many-body aspects of low-energy nuclear structure, such as phonon-induced renormalisation effects and a consistent development of nuclear reactions and optical potentials. Recently I got interested in statistical approaches to the nuclear many-body problem.
                  Optimization and diagonalization procedures typical of this field can be used to tackle difficult problems in other fields, such as computer vision and reconstructing 3D environments from 2D pictures.
                  Finally, complex systems permeate the world we live in. Studying them can lead to a better understanding of our society and familiar nature.
                </p>
                <p class="lead">
                    <a href="projects/" class="btn btn-lg btn-secondary" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Take a look to the research projects</a>
                </p>
            </div>
            <div class="col-sm-4 section-title-wrapper">
                <h1 class="section-title" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="700">
                    <i class="fas fa-flask"></i>&nbsp;&nbsp;My Research</h1>
            </div>
        </div>
    </div>
</div>
