<div id="teaching-div" class="separator-div separator-right influenza-bg">
    <div class="container">

        <div class="row">
            <div class="col-sm-4 section-title-wrapper">
                <h1 class="section-title" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="700">
                    <i class="fab fa-react"></i>&nbsp;&nbsp;Teaching</h1>
            </div>
            <div class="col-sm-8">
                <p class="section-desc" data-aos="fade-up" data-aos-anchor-placement="right-left">
                    I teach the course of classical <a href="http://www.matfys.lth.se/education/FMFN05/"> <i>chaos</i> for science and technology </a>. In this course we explore the modelling and behaviour of complex systems, using analytical and computational excercises.  </br>
                    Personal projects related to the course and on visualization technology are welcome.
                </p>

            </div>
        </div>
    </div>
</div>
