<div id="thesis-div" class="separator-div separator-left aqm-bg">
    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <p class="section-desc" data-aos="fade-up" data-aos-anchor-placement="right-left">
                  I accept master and bachelor thesis projects, spanning my
                  <a href="#projects-div" data-toggle="tooltip" data-placement="left" title="" data-original-title="Projects"> research <i class="fas fa-flask"></i></a> interests. </br>
                  The available projects concern:
                  <ul>
                    <li> modelling and computation of the properties of the atomic nucleus with Green functions and DFT, </li>
                    <li> optimization and statistical algorithms (including machine learning) for nuclear physics and computer vision, </li>
                    <li> quantum computing of many-body systems, </li>
                    <li> application of chaos theory to geography of urbanization and econophysics (suggested for bachelor). </li>
                  </ul>
                  Also, Have a look at my
                  and <a href="https://scholar.google.it/citations?user=Q_HADcQAAAAJ&hl=en">publications</a> and see if you find something appealing. Feel free and encouraged to propose your own project. </br>
                  During the course of the thesis I put emphasis in developing physical intuition but also developer skills, in accordance with student predisposition. You are encouraged and openly communicate your aims when starting the thesis project. </br>
                  Have also a look at the <a href="http://www.matfys.lth.se/education/MasterAdvice.html"> matfys guidelines for thesis </a>.
                </p>
            </div>
            <div class="col-sm-4 section-title-wrapper">
                <h1 class="section-title" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="700">
                        <i class="fas fa-graduation-cap"></i>&nbsp;&nbsp;Thesis</h1>
            </div>
        </div>
    </div>
</div>
