
.fluidMedia {
    position: relative;
    /*padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  
  .fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
  }
  
h1 {
    margin-bottom: 1em;
}
  
.article-container h1 {
    margin-bottom: 0.5em;
}

  header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .5;
  }
  
  header.intestation {
    background: no-repeat center center;
    background-color: #333;
    background-attachment: scroll;
    min-height: 550px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: none;
  }

  
  figcaption{
      font-style: italic;
      margin-top: -5px;
      text-align: center;
  }
  .title{
    font-weight: 900;
    font-size: 60px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  
  .intestation-subtitle{
    color: #eee;
    margin: 10px 0 30px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 40px;
  }
  
  .intestation-title{
    margin-top: 50%;
    transform: translateY(-30%);
  }
  
  .date-author{
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    font-family: Lora,'Times New Roman',serif;
  }
.article-container, .article-list {
    background-color: #fafafa;
    margin-top: -35px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

@media only screen and (max-width: 130px) {
  .article-container, .article-list {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 780px) {
  .article-container, .article-list {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.article-body, .article-body h1, .article-list, .article-list h1 {
    color: #333;
    text-shadow: none;
}

.article-body p, .article-list p, .article-body{
    
    font-size: 20px;
    color: #212529;
    font-family: Lora,'Times New Roman',serif;
    text-align: justify;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 1.5;
}
.article-body img, .article-list img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.post-preview h2 {
  font-weight: 800;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 1.2;
  color: inherit;
}
.post-preview h2, .post-preview h3, .post-preview p{
  color: #222529;
}
.post-preview h3 {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin: 0 0 10px;
  font-size: 1.75rem;
  line-height: 1.2;
  font-variant: petite-caps;
}

.post-meta a {
  color: #0a55d6
}

.highlight {
  text-align: left
}