<ul id="navs" data-open="close" data-close="open">
    <li>
      <a href="{{ .Site.BaseURL }}../" data-toggle="tooltip" data-placement="right" title="" data-original-title="Back to the home"><i class="fas fa-home"></i></a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}projects" data-toggle="tooltip" data-placement="right" title="" data-original-title="Projects List"><i class="fas fa-flask"></i></a>
    </li>
    <li>
          <a href="../" data-toggle="tooltip" data-placement="right" title="" data-original-title="Go back"><i class="fas fa-arrow-left"></i></a>
    </li>
</ul>